@model ProjectMaleabAlKorbV2.Models.Admin

@{
    ViewBag.Title = "LoginAdmin";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Amdin Login</title>
    <!-- meta_tags-->

    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta_tag_Keywords -->
    <link href="~/Login_Admin/css/style.css" rel="stylesheet" /><!--style_sheet-->
    <!--font_awesome_icons-->
    <link href="~/Login_Admin/css/font-awesome.min.css" rel="stylesheet" />
    <!--web_fonts-->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&amp;subset=latin-ext" rel="stylesheet">
    <!--//web_fonts-->
    <link rel="icon" href="~/Logo.ico" />
</head>
<body>
    <div class="form">
        <br>
        <div class="form-content">
            <form action="#" method="post">
                <div class="form-info">
                    <h2>Member MAK</h2>
                </div>
                <div class="email-w3l">
                    <span class="i1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                    @*<input class="email" type="email" name="email" placeholder="Email" required="">*@
                    @Html.TextBoxFor(r => r.Emails, new { @id = "email_admin", @class = "email", @placeholder = "Email" })
                </div>
                <div class="pass-w3l">
                    <!---728x90--->
                    <span class="i2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                    @*<input class="pass" type="password" name="password" placeholder="Password" required="">*@
                    @Html.PasswordFor(r => r.Passwords, new { @id = "pass_admin", @class = "pass", @placeholder = "Password" })
                </div>
                <div class="form-check">
                    <div class="left">
                        <input type="checkbox" id="Remember_me" value="Remember me">Remember me
                    </div>
                    <div class="right">
                        <a href="#">Forgot Password?</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="submit-agileits">
                    <input class="login" type="submit" value="login">
                </div>
            </form>
        </div>
    </div>
    <!---728x90--->
    <footer> #Malaeb Al Korb © All rights reserved 2020 | Design by  <a href="/Home/Index" target="_blank">  MAK Teams</a></footer>
    <!---728x90--->
</body>
</html>



