@{
    ViewBag.Title = "About";
}
<!-- /banner -->
<div class="banner1">
    <div class="wthree_banner1_info">
        <h3><span>A</span>bout</h3>
    </div>
</div>
<!-- //banner -->
<!-- courses -->
<div class="coaching_section">
    <div class="container">
        <div class="maak_agile_team_grid">
            <div class="maak_agile_team_grid_left">
                <h3 class="Mk_header maak_agileits_header">Who <span>we are</span></h3>
                <p class="sub_para_agile"></p>
            </div>
        </div>
        <div class="agile_team_grids_top">
            <div class="col-md-6 mak_banner_bottom_left mak_courses_left">
                <div class="mak_courses_left_grids">
                    <div class="mak_courses_left_grid">
                        <h3>
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>about us
                        </h3>
                        <p>
                            Malaeb Al Korb is the Marrakech leading search and booking platform for recreational
                            sports.
                            Our mission is making it easier for everyone to play sport, and increasing the
                            utilisation of facilities as a result.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-6 agileits_courses_right">
                <img src="~/images/2.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>


<!-- stats-bottom-banner -->
<div class="stats-bottom-banner">
    <div class="container">
        <h3>We are Open to <span>All Ages</span> and Abilities</h3>
    </div>
</div>
<!-- //stats-bottom-banner -->
<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="signin-form profile">
                <h3 class="agileinfo_sign">Malaeb Al Korb</h3>
                <div class="modal-body">
                    <img src="~/images/g1.jpg" alt=" " class="img-responsive" />
                    <p>
                        Ut enim ad minima veniam, quis nostrum
                        exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid ex ea commodi consequatur? Quis autem
                        vel eum iure reprehenderit qui in ea voluptate velit
                        esse quam nihil molestiae consequatur, vel illum qui
                        dolorem eum fugiat quo voluptas nulla pariatur.
                        <i>
                            " Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                            esse quam nihil molestiae consequatur.
                        </i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //bootstrap-pop-up -->
<!-- Partners -->
<div class="testimonials" id="partners">
    <div class="container">
        <h3 class="Mk_header maak_agileits_header">Our <span>Partners</span></h3>
        <div class="mak_testimonials_grids">
            <section class="center slider">
                <div class="agileits_testimonial_grid">
                    <div class="Mk_testimonial_grid">
                        <h4>AGAINAN</h4>
                        <h5>Professeur</h5>
                        <div class="Mk_testimonial_grid_pos">
                            <img src="~/images/1.png" alt=" " class="img-responsive" />
                        </div>
                    </div>
                </div>
                <div class="agileits_testimonial_grid">
                    <div class="Mk_testimonial_grid">
                        <h4>Zakaria AJOUIL</h4>
                        <h5>Professeur</h5>
                        <div class="Mk_testimonial_grid_pos">
                            <img src="~/images/2.png" alt=" " class="img-responsive" />
                        </div>
                    </div>
                </div>
                <div class="agileits_testimonial_grid">
                    <div class="Mk_testimonial_grid">
                        <h4>Abdelfatah SAMIR</h4>
                        <h5>Professeur</h5>
                        <div class="Mk_testimonial_grid_pos">
                            <img src="~/images/3.png" alt="" class="img-responsive" />
                        </div>
                        
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- //Partners -->